#popup {
    background-color: grey;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 70%;
}

.login {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;

    .login-card {
        width: 25%;
        margin: auto;
        

        .card-header {

            mat-card-title {
                text-align: center;
                margin: 4% 0 10% 0;
            }

            span {
                position: absolute;
                top: 2%;
                right: 2%;
                cursor: pointer;
            }
        }

        .card-content {

            form {
                display: flex;
                justify-content: center;
                flex-direction: column;

                input {
                    border: none;
                }

                mat-form-field{
                    margin: 0 auto 4% auto;
                    width: 80%;
                    ::ng-deep .mat-form-field-outline {
                        background-color: #F6F8FA;
                        
                    }
                    ::ng-deep .mat-form-field-underline {
                        display: none;
                    }
                }          

                .submit-btn {
                    width: 80%;
                    margin: 5% auto 5% auto;
                    border-radius: 40px;
                    padding: 2%;
                    background-color: #1295C0;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    text-align: center;

                }

                .submit-btn:hover:enabled {
                    background-color: #0e5e79;
                }

            }

            .anotherType-login {
                display: flex;
                justify-content: center;
                flex-direction: column;

                p {
                    margin: auto;
                    width: 80%;                    
                    display: flex;
                    flex-direction: row;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 0em;
                    color: #3C4852;

                  }
                p:before, p:after{
                content: "";
                flex: 1 1;
                border-bottom: 1px solid #E0DEDE;
                margin: auto;
                }
                p:before {
                margin-right: 19px
                }
                p:after {
                margin-left: 19px
                }

                .webServices {
                    margin: 10% auto 15% auto;
                    display: flex;
                    justify-content: center;
                    button {
                        display: inline;
                        // height: 32px;
                        background-color: #ffff;
                        border: none;
                        margin: 0 10% 0 10%;
                        cursor: pointer;  

                        img#googleIcon {
                            background-color: #E0DEDE;
                            padding: 16px;
                            border-radius: 10px;
                            box-shadow: 0px 4px 4px 0px #00000040;
                                           
                        }

                        img#facebookIcon {
                            background-color: #395185;
                            padding: 16px;
                            border-radius: 10px;
                            box-shadow: 0px 4px 4px 0px #00000040;
                             
                        }

                        img#googleIcon:hover, img#facebookIcon:hover {
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }
}