.available-courses {
  position: relative;
  overflow: auto;
  border: 1px solid #c9d8dd;
  border-radius: 10px;
  background-color: #ffff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  &__title {
    font-size: 1.7rem;
    padding: 3% 0 0 7%;
  }
  &__content {
    height: 30vh;
    // height: 289px;
    margin-left: 7%;
  }
}

.spinner {
  position: absolute;
  left: 35%;
  top: 40%;
}

@media (max-width: 1440px) {
  .available-courses {
    &__content {
      height: 190px;
    }
  }
}

@media (max-width: 830px) {
  .available-courses {
    &__title {
      font-size: 1.2rem;
      margin-bottom: 2%;
    }
    &__content {
      height: 250px;
    }
  }
}
