.user-profile {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

app-u-p-data {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.edit-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-u-p-update-password {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) {
  .user-profile {
    display: flex;
    flex-direction: column;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) {
  .user-profile {
    grid-template-columns: 40% 60%;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* some CSS here */
  .user-profile {
    grid-template-columns: 40% 60%;
  }
}
