
.user-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

app-u-p-data {
  width: 30%;
  max-height: 100vh;
  margin-bottom: 0;
  display: flex;
  align-items: stretch;
}

.edit-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-u-p-update-password {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) {
  app-u-p-data{
    width: 100%;
    margin: 0;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
  }
}

@media  (max-width: 768px) {
  .edit-info{
    margin-top: 7%;
  }
}
