.user-profile {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.user-image {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user-picture {
    width: 60%;
    height: auto;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.user-info {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10%;
}

.user-data {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 1em;
}