.user-info {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,white, #EDEFF7, #E2E6F4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10%;
}

.user-image {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#user-picture {
  width: 60%;
  height: auto;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.mat-card-subtitle {
  margin: 0;
  margin-bottom: 0.3em;
}

.user-data {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 1em;
}

#link-to-dashboard {
  display: none;
}

.side-nav a {
  text-decoration: none;
  color: #000;
}

.side-nav a:hover {
  text-shadow: 0 0 0.5em gray;
  cursor: pointer;
}

.side-nav p {
  margin: 0px;
  padding: 4px;
  vertical-align: bottom;
  font-size: larger;
}

.side-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mat-icon {
  height: 1em;
  width: auto;
}

.side-nav li {
  align-self: center;
  list-style: none;
  padding-bottom: 0.5em;
}

.side-nav ul {
  align-self: center;
  padding: 0 1em;
}

@media  (max-width: 768px) {
  #link-to-dashboard{
    display: block;
  }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) {
  .user-info {
    background: linear-gradient(0deg, #EDEFF7, #E2E6F4);
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }

  #user-picture {
    width: 30%;
  }

  #link-to-dashboard {
    display: none;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) {
  #user-picture {
    width: 30%;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #user-picture {
    width: 40%;
  }
}
