.user-image {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user-picture {
    width: 60%;
    height: auto;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.user-info {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10%;
}

.mat-card-subtitle {
    margin: 0;
    margin-bottom: 0.3em;
}

.user-data {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 1em;
}

.side-nav a {
    text-decoration: none;
    color: #000;
}

.side-nav a:hover {
    text-shadow: 0 0 0.5em gray;
}

.side-nav p {
    margin: 0px;
    padding: 4px;
    vertical-align: bottom;
    font-size: larger;
}

.side-nav-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mat-icon {
    height: 1em;
    width: auto;
}

.side-nav li {
    list-style: none;
    padding-bottom: 0.5em;
}

.side-nav ul {
    padding: 0 1em;
}
