mat-card {
    padding-top: 6%;
    flex: 1;
}

.user-data-form-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-data-form-items button {
    width: fit-content;
    padding: 0.2em 1em;
}

.user-data-input {
    padding-top: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

mat-form-field {
    margin: 0 5% 0.5em 0;
}

.mat-button, .mat-raised-button{
    background-color: #1295c0;
}

.mat-button:hover, .mat-raised-button:hover {
    box-shadow: 0 0 0.5em gray;
    cursor: pointer;
  }

@media screen and (max-device-width: 480px) {
  mat-card {
      text-align: center;
  }

  .user-data-form-items {
      align-items: center;
  }

  .user-data-input {
      justify-content: center;
  }

  mat-form-field {
      margin: auto;
  }
}