mat-card {
    flex: 1;
}

.user-data-form-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-data-form-items button {
    width: fit-content;
    padding: 0.2em 1em;
}

.user-data-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

mat-form-field {
    margin: 0 5% 0.5em 0;
}

@media screen and (max-device-width: 480px) {
  mat-card {
      text-align: center;
  }

  .user-data-form-items {
      align-items: center;
  }

  .user-data-input {
      justify-content: center;
  }

  mat-form-field {
      margin: auto;
  }
}