.two-fa-login {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;

    .login-card {
        width: 25%;
        margin: auto;
        

        .card-header {

            mat-card-title {
                text-align: center;
                margin: 4% 0 10% 0;
            }

            span {
                position: absolute;
                top: 2%;
                right: 2%;
                cursor: pointer;
            }

            span:hover {
                color: #177695;
            }
        }

        .card-content {

            form {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .installQuestion {
                    text-align: center;
                    margin: 5% 5% 15% ;

                    a {
                        color: #1295C0;
                    }

                    a:hover {
                        color: #102830;
                    }
                }

                .installAdvice {
                    text-align: center;
                }

                .choice-container-btn {

                    .choice-btn {
                        width: 70%;
                        margin: 5% auto ;
                        border-radius: 40px;
                        padding: 2%;
                        background-color: #1295C0;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: 0.1em;
                        text-align: center;
                    }

                    .choice-btn:last-child {
                        margin-bottom: 15%;
                    }

                    .choice-btn:hover:enabled {
                        background-color: #0e5e79;
                    }
                }

                img {
                    height: 70%;
                    width: 70%;
                    margin: auto;
                }

                div {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    mat-label {
                        text-align: center;
                        margin-top: 5%;
                        margin-bottom: 10%;
                    }

                    code-input {

                        ::ng-deep span {
                            display: flex;
                            justify-content: center;

                            ::ng-deep input {
                                
                                height: 32px;
                                width: 32px;
                            }
                        }
                        
                    }

                    .submit-btn {
                        width: 80%;
                        margin: 10% auto ;
                        border-radius: 40px;
                        padding: 2%;
                        background-color: #1295C0;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: 0.1em;
                        text-align: center;
    
                    }
    
                    .submit-btn:hover:enabled {
                        background-color: #0e5e79;
                    }
                }
            
            }
        }
    }
}