.profile-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  &__ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0e779a;
    padding: 7% 7%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__username {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  &__open-close-usermenu {
    cursor: pointer;
    width: 15px;
    align-self: center;
    height: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__settings {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: #fff;
    top: 50px;
    z-index: 2;
    right: 1px;
    border-radius: 5px;
  }

  &__username-content {
    display: flex;
  }
}
.closed {
  display: none;
}

@media (max-width: 830px) {
  .profile-user {
    flex-direction: column;
    &__ava {
      width: 100px;
      height: 100px;
      margin-bottom: 14%;
    }

    &__username {
      font-size: 1.9rem;
    }
    &__settings {
      right: -55px;
      top: 150px;
    }
  }
}

@media (max-width: 830px) {
  .profile-user {
    &__username{
      width: 100px;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 475px) {
  .profile-user {
    &__ava {
      width: 70px;
      height: 70px;
    }

    &__username {
      width: 100px;
      font-size: 1.3rem;
    }
  }
}
