app-hello-page{
  margin: 0 auto;
  width:1200px ;
}

header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  &>.logo{
    width: 80px;
    margin: auto 0;
    line-height:  50px;
  }
  &>nav>ul{
    list-style-type: none;
    display: flex;
    
    &>li{
      margin-left: 2rem;
      align-self: baseline;
      cursor: pointer;
      font-size: 1.2em;
      letter-spacing: 1px;

      &>a:link, a:visited{
        text-decoration: none;
        color: #211D4D;
        transition: padding-bottom 0.25s ease-in-out;

      }
      &>a:hover{
        border-bottom: 2px solid #1295C0;
        padding-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  header{
    &>.logo{
      width: 50px;
      margin: auto 0;
      line-height:  20px;
    }
    &>nav>ul{

      &>li{
        margin-left: 1rem;
        font-size: 0.9em;
  
        &>a:link, a:visited{
        }
        &>a:hover{
        }
      }
    }
  }

}

@media screen and (max-width: 450px) {

  header{
    &>.logo{
      width: 50px;
      margin: auto 0;
      line-height:  20px;
    }
    &>nav>ul{

      &>li{
        margin-left: 1rem;
        font-size: 0.8em;
  
        &>a:link, a:visited{
        }
        &>a:hover{
        }
      }
    }
  }

}