
header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  & > .logo {
    width: 90px;
    margin: auto 0;
    line-height: 50px;
  }
  
  & > nav {
    list-style-type: none;
    display: flex;
    color: #211d4d;
    font-weight: 500;

    & > a {
      margin-left: 2rem;
      align-self: baseline;
      cursor: pointer;
      font-size: 1.2em;
      letter-spacing: 1px;
      transition: padding-bottom 0.25s ease-in-out;

      }
      & > a:hover {
        border-bottom: 2px solid #1295c0;
        padding-bottom: 5px;
      }
    }
}

@media screen and (max-width: 750px) {
  header {
    & > .logo {
      width: 50px;
      margin: auto 0;
      line-height: 20px;
    }
    & > nav > ul {
      & > li {
        margin-left: 1rem;
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    & > .logo {
      width: 50px;
      margin: auto 0;
      line-height: 10px;
    }
    & > nav > ul {
      & > li {
        margin-left: 1rem;
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  header {
    & > .logo {
      width: 50px;
      margin: auto 0;
      line-height: 20px;
    }
    & > nav > ul {
      & > li {
        margin-left: 0.55rem;
        font-size: 0.7em;
      }
    }
  }
}
