.total-info {
  position: relative;
  border: 2px solid #c9d8dd;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background-color: #e09033;
  border-radius: 10px;
  height: 100%;
  &__title {
    font-size: 1.7rem;
    margin: 7% 0 10% 7%;
  }
  &__content {
    padding-top: 7%;
    height: 329px;
  }
  &__data {
    padding-left: 7%;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    color: #ffff;
  }
}
.spinner {
  position: absolute;
  left: 35%;
  top: 40%
}
.total-cousres,
.total-group {
  font-size: 2.7rem;
}

.total-cousres {
  margin-bottom: 14%;
}
@media (max-width: 1530px) {
  .total-cousres,
  .total-group {
    font-size: 2.1rem;
  }
}
@media (max-width: 1440px) {
  .total-info {
    &__content {
      height: 190px;
    }
  }
}

// @media (max-width: 1475px) {
//   .total-cousres,
//   .total-group {
//     // font-size: 2.1rem;
//   }
// }

@media (max-width: 1220px) {
  .total-cousres,
  .total-group {
    font-size: 1.7rem;
  }
}

@media (max-width: 1220px) {
  // .total-info {
  //   &__data {
  //     //  margin-top: 35%;
  //   }
  // }
  .total-cousres,
  .total-group {
    font-size: 1.5rem;
  }
  .total-cousres {
    margin-bottom: 8%;
  }
}

@media (max-width: 980px) {
  .total-info {
    &__data {
      margin-top: 0;
      padding-top: 25%;
    }
  }
  .total-cousres,
  .total-group {
    font-size: 1.4rem;
  }
}

@media (max-width: 830px) {
  .total-info {
    &__title {
      font-size: 1.2rem;
      margin-bottom: 2%;
    }
    &__data {
      padding-top: 0%;
    }

    &__content {
      height: 114px;
    }
  }
  .total-cousres {
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .total-info {
    &__title {
      margin-top: 3%;
    }

    &__content {
      height: 114px;
    }
  }
  .total-cousres {
    margin-bottom: 3%;
  }
}
