.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  padding: 1em;

  span {
    align-self: flex-end;
    cursor: pointer;
    padding: 3px;
  }

  h2 {
    letter-spacing: 1px;
    margin: 1em 0 2em 0;
    font-weight: 500;
    color: green;
  }
  .img-container {
    img {
      width: 250px;
      border-radius: 30%;
      margin-bottom: 3em;
    }
  }
  p {
    color: green;
    font-size: 1.2em;
    font-weight: 500;
    margin: 1em 0 1em 0;
  }
}
