.dashboard {
  display: flex;
  height: 100vh;

  &__logo {
   text-align: center;
   margin-top: 18%;
   margin-bottom: 50%;
  }
  &__aside-menu {
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(
      180deg,
      rgb(187, 200, 205) 56%,
      rgb(223, 145, 145)
    );
    background: -moz-linear-gradient(
      180deg,
      rgb(187, 200, 205) 56%,
      rgb(251, 251, 251)
    );
    background: linear-gradient(
      180deg,
      rgb(187, 200, 205) 56%,
      rgb(251, 251, 251)
    );
    width: 14%;
    .aside-field {
      display: flex;
      border-radius: 15px;
      //width: 70%;
    }
    .aside-nav-img {
      width: 24px;
      height: 24px;
      margin-right: 8%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__aside-nav {

      // align-items: center;
    }


    .aside-nav-title {
      font-size: 1.2rem;
      align-self: end;
    }

    .aside-field{
        margin-left: 12%;
        padding: 7% 7%;
        border-radius: 15px;
        width: 70%;
    }
    .aside-link {
      display: flex;
      width: 100%;
    }
  }

  &__aside-bottom-img {
    margin-top: auto;
    align-self: end;
    margin-bottom: 3%;
    img {
      width: 100%;
      height: 100%;
    }
  }

}

.field-active {
  background-color: white;
}
