.course {
  display: flex;
  margin: 2% 3% 0 0%;
  align-items: center;
  cursor: pointer;
  &__teacher {
    background-color: rgb(212, 72, 54);
    color: #ffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 1.8rem ;
    padding: 2% 2%;
    margin-right: 2%;
  }
  &__description {
    font-size: 1.2rem;
    color: #110f0fca;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
  }
}
.course:hover {
  background-color: rgb(230, 230, 230);
  transition: 0.5s ease-in-out;
}
