  /* background */
  $c-seccond: #1295C0;
  $c-grey-light: #F6F8FA;

  /* text */
  $txt-c-dark: #000000;
  $txt-c-grey: #9E9E9E;
  $txt-c-seccond: #1295C0;
  $txt-c-seccond-dark: #177695;
  $txt-c-light: var(--c-light);
  $txt-c-white: #FFFFFF;

.container-wrapper {
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  z-index: 10;

      mat-card {
          width: 360px;   
          margin: auto;
          text-align: center;
          border-radius: 10px;

          .card-header {

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
              mat-card-title {
                  text-align: center;
                  margin: 2% 0 5% 0;
                  padding-top: 40px;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 22px;
              }
          
              span {
                  position: absolute;
                  top: 2%;
                  right: 2%;
                  cursor: pointer;

                  mat-icon {
                    color: $txt-c-dark;
                  }

                  mat-icon:hover {
                    color: $txt-c-seccond-dark;
                  }
              }
          }   
          .subtitle {
              width: 80%;
              font-weight: normal;
              font-size: 16px;
              line-height: 25px;
              color: $txt-c-grey
          }   
          
          .card-content-wrapper {
              form {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                 }
              
              mat-form-field {
                  width: 80%;
                  margin: 2% auto 0 auto;
              }
          
              ::ng-deep .mat-form-field-outline {
                  background-color: $c-grey-light;        
              }
          
              mat-icon {
                  color: $txt-c-grey;
              }
          
                      // mat-icon-stepper selected color change 
                  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
                      background-color: red!important;
                  }
          
                  //input outline color
                  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                      color: #E5E5E5!important; 
                      // opacity: 1!important;
                  }
          
                  //mat-input focused color
                  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
                      color: $c-seccond!important;
                  }
          
                  // mat-input error outline color
                  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
                      color: red!important;
                      opacity: 0.8!important;
                  }
          
                  // mat-label error style
                  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
                      color: red!important;
                  }
                  
                  .submit-button {
                      padding: 0;
                      width: 80%;
                      height: 55px;
                      margin: 5% auto 5% auto;
                      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1295C0;
                      border-radius: 50px;
                      color: $txt-c-white;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 22px;
                      cursor: pointer;
                  }

                  
          
          }
      
      }
      
      .notificantion-card {
        box-sizing: border-box;
        width: 80%;
        padding: 15px; 
        border: 1px solid rgba(248,81,73,0.4);
        background-image: linear-gradient(rgba(248,81,73,0.15),rgba(248,81,73,0.15));
        color: #ff1b1b;

        .error-notification {
            width: 100%;
            font-size: 85%;
            text-align: center;
            
        }

        a {
            text-decoration: none;
            color: $txt-c-seccond;
            cursor: pointer;
            margin: 0 5px;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
             
        }

        a:hover {
            color: $txt-c-seccond-dark;
        }
    }
      
      

}