  /* background */
  $c-seccond: #1295C0;
  $c-grey-light: #F6F8FA;

    /* text */
    $txt-c-dark: #000000;
    $txt-c-grey: #9E9E9E;
    $txt-c-seccond: #1295C0;
    $txt-c-light: var(--c-light);
    $txt-c-white: #FFFFFF;


.main-wrapper {
    max-width: 450px;   
    margin: 10em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.title{
    padding-top: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.subtitle {
    width: 295px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $txt-c-grey
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
    margin-top: 25px;
}

.fill {
    background: #F6F8FA;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

.submit-button {
    padding: 0;
    width: 295px;
    height: 55px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1295C0;
    border-radius: 50px;
    color: $txt-c-white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

mat-card img{
    width: 180px;
    height: 180px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $c-seccond !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $c-seccond !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $c-seccond !important;
}

