// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Course-Evaluation-primary: mat.define-palette(mat.$indigo-palette);
$Course-Evaluation-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$Course-Evaluation-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Course-Evaluation-theme: mat.define-light-theme(
  (
    color: (
      primary: $Course-Evaluation-primary,
      accent: $Course-Evaluation-accent,
      warn: $Course-Evaluation-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Course-Evaluation-theme);

/* You can add global styles to this file, and also import other style files */


@import '~@ctrl/ngx-emoji-mart/picker';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, "Open Sans", "Helvetica Neue", sans-serif;

  .mat-dialog-container {
    padding: 0;
  }
}

/*
    Overwriting css styles for material snackbar
*/
.green-snackbar,
.red-snackbar {
  color: white;
  border-radius: 8px;
  box-shadow: 0 6px 19.4px 0.6px hsla(0, 0%, 86.3%, 0.7);
  button {
    background-color: white;
  }
}

.green-snackbar {
  background-color: rgb(3, 189, 71);
  button {
    color: rgb(3, 189, 71);
  }
}
.red-snackbar {
  background-color: #f44336;
  button {
    color: #f44336;
  }
}
