.regist {
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  z-index: 10;

  .regist-card {
    min-width: 350px;
    width: 25%;
    margin: auto;

    .card-header {
      mat-card-title {
        text-align: center;
        margin: 4% 0 10% 0;
      }

      span {
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
      }
    }

    .card-content {
      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        input {
          border: none;
          // height: 2em;
        }

        mat-form-field {
          margin: 0 auto 3% auto;
          width: 80%;
          ::ng-deep .mat-form-field-outline {
            background-color: #f6f8fa;
          }
          ::ng-deep .mat-form-field-wrapper {
            // padding: 0;
          }
          ::ng-deep .mat-form-field-underline {
            display: none;
          }
        }

        .btn {
          width: 80%;
          cursor: pointer;
          margin: 5% auto 5% auto;
          border-radius: 40px;
          padding: 2%;
          background-color: #1295c0;
          box-shadow: 0px 4px 4px 0px #00000040;
        }
        .check {
          margin: 1em;
          font-size: 1.1em;
        }
      }

      .anotherType-login {
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
          margin: auto;
          width: 80%;
          display: flex;
          flex-direction: row;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0em;
          color: #3c4852;
          cursor: pointer;

          .btn {
            text-decoration: none;
            color: #211d4d;
          }
        }
        p:before,
        p:after {
          content: "";
          flex: 1 1;
          border-bottom: 1px solid #e0dede;
          margin: auto;
        }
        p:before {
          margin-right: 19px;
        }
        p:after {
          margin-left: 19px;
        }
        .webServices {
          margin: auto;
        }
      }
      .input-label {
        display: block;
      }
    }
  }
}

button {
  border: none;
  padding: 0;
  img {
    padding: 0;
  }
}
