.shadowed {
  box-shadow: 0 6px 19.4px 0.6px hsla(0, 0%, 86.3%, 0.7);
}

.btn {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .courses-title {
    width: 75vw;
    .title {
      text-transform: uppercase;
      margin-top: 30px;
      font-size: 72px;
      color: #0052d4;
    }

    .courses-action-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .create-course {
        margin-top: 30px;
        background-color: #3fb950;
        color: white;
        padding: 15px;
        font-size: 20px;
      }

      .toggle-courses {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 30px;
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }
    }
  }

  .courses-cards {
    width: 80vw;
    min-width: 330px;
    padding: 10px;

    .mat-grid-tile {
      width: 80%;
      height: 100px;
    }
    .card {
      // margin-top: 30px;
      width: 85%;
      height: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      // height: 300px;
      border: 1px solid #0052d4;

      &:hover {
        .background-card {
          animation: slideCardTitle 0.5s;
          margin: -40px 0 0 -80px;
        }

        .buttons {
          animation: slideCardButtons 1s;
        }
      }
      .background-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 150px;
        width: 90%;
        padding: 15px;
        box-sizing: content-box;
        margin-top: -40px;
        background: linear-gradient(to left, #6fb1fc, #4364f7, #0052d4);
        overflow: hidden;
        .course-title {
          color: white;
          width: 100%;
          line-height: 26px;
          font-size: 24px;
          text-align: start;
          margin-left: 20px;
        }

        .course-teacher {
          position: absolute;
          bottom: 10%;
          padding: 5px;
          z-index: 111;
          background-color: white;
          color: #0052d4;
        }
      }
      .course-duration {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        color: #0052d4;
        .calendar-icon {
          margin-right: 10px;
        }
      }

      .description {
        height: 30%;
        text-align: justify;
        overflow-wrap: anywhere;
      }
    }
    .see-more-button,
    .remove-button {
      display: none;
    }

    .icon-button {
      display: none;
    }

    .hovered {
      .buttons {
        margin-top: 10px;
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        right: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .remove-button {
        .mat-icon {
          color: red;
        }
      }
      .edit-button {
        margin-top: 20px;
        .mat-icon {
          color: #0052d4;
        }
      }
      .see-more-button {
        width: 70%;
        margin-bottom: 5px;
        outline: none;
        border: none;
        display: block;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        color: black;
        font-size: 16px;
        border-radius: 5px;
        padding: 8px;
      }
      .icon-button {
        cursor: pointer;
        font-size: 30px;
        padding: 2px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.3);

        &:hover {
          .mat-icon {
            transform: scale(1.6);
          }
        }
      }
    }
  }
}

.info-pop-up {
  z-index: 999;
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  width: 350px;
  height: 100px;
  border: 2px solid #3fb950;
  background-color: white;

  .info-icon {
    .icon-check {
      font-size: 72px;
    }
  }
  .info-text {
    font-size: 18px;
    margin-left: 10px;
  }
}

.mat-success {
  color: #3fb950;
}

.blured {
  filter: blur(2px);
}

.error-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 50px;
  font-size: 52px;
  color: red;

  .error-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 102px;
  }
  .error-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      line-height: 54px;
    }
  }
}

@keyframes slideCardTitle {
  0% {
    margin: -40px 0 0 0;
  }
  100% {
    margin: -40px 0 0 -80px;
  }
}

@keyframes slideCardButtons {
  0% {
    opacity: 0;
    right: 8%;
  }
  100% {
    right: 2%;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) and (min-width: 530px) {
  .courses {
    .courses-title {
      .title {
        font-size: 48px;
      }
      .courses-action-container {
        justify-content: space-around;
        .toggle-courses {
          font-size: 14px;
          width: 45vw;
        }
        .create-course {
          width: 200px;
          font-size: 16px;
        }
      }
    }
    .courses-cards {
      .card {
        .background-card {
          .course-title {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .courses {
    .courses-title {
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        // height: 150px;
        line-height: 40px;
      }
      .courses-action-container {
        flex-direction: column;
        .toggle-courses {
          width: 80vw;
        }
        .create-course {
          width: 80vw;
        }
      }
      .courses-cards {
        .card {
          .background-card {
            .course-title {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
